<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/promocao.jpeg" class="galao">
  <img src="../../assets/img/a.png" class="borda_dourada">
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao()">
  <img src="../../assets/img/BlueBox.png" class="BlueBox">

  <h1 class="garafao20"> Garrafão 20 lts </h1>

  <p class="cgarrafaodescrition">
    Acima de 10 unid garrafão completo <br>
    De: <span class="old-price">27,00</span> <br>
    Por: <span class="new-price">25,00</span>
  </p>

  <h1 class="preco">
    <span class="old-price">De: 270,00</span> <br>
    <span class="new-price">Por: 250,00</span>
  </h1>
  

  <button class="add-to-cart-btn" (click)="addToCart()">Adicionar ao Carrinho</button>
</ion-content>
