.fundo {
    position: relative;
    overflow: hidden;
    min-height: 130vh;
}

.background_bluepink {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 118%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.botao-voltar {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 8vw; /* Limite a largura a 90% da largura da viewport */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
}


.wpp1{
    position: absolute;
    top: 38.5%;
    left: 23%;
    max-width: 8vw; /* Limite a largura a 90% da largura da viewport */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */


}

.wpp2 {

    position: absolute;
    top: 51.6%;
    left: 23%;
    max-width: 8vw; /* Limite a largura a 90% da largura da viewport */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */



}

.map-container {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajuste a largura do mapa conforme necessário */
    height: 300px; /* Ajuste a altura do mapa conforme necessário */
}

.maps {
    width: 100%;
    height: 100%;
    border: 0; /* Remove a borda padrão do iframe */
}


.mapa1{

    position: absolute;
    top: 13%;
    left: 50%;
    max-width: 60vw;  /* Limite a largura a 90% da largura da viewport */
    height: auto;  /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */


}

.qrcode {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 60vw;  /* Aumentei a largura diretamente para 90% da viewport */
    height: auto;  /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
}

.number1 {
    position: absolute;
    top: 38.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #9b2f2f;
    letter-spacing: 2px;
    text-shadow: 
        -1px -1px 0 #ffffff,  /* Borda superior esquerda */
        1px -1px 0 #ffffff,   /* Borda superior direita */
        -1px 1px 0 #ffffff,   /* Borda inferior esquerda */
        1px 1px 0 #ffffff;    /* Borda inferior direita */
        white-space: nowrap; /* Impede a quebra de linha */
        text-decoration: none; /* Remove a linha de sublinhado */
}

.texto1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    color: #ffffff;
    letter-spacing: 2px;
        white-space: nowrap; /* Impede a quebra de linha */
        text-decoration: none; /* Remove a linha de sublinhado */
}

.texto2{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 2px;
    white-space: nowrap; /* Impede a quebra de linha */
    text-decoration: none; /* Remove a linha de sublinhado */
    font-weight: bold;  /* Deixa o texto em negrito */

}

.texto3{

    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 2px;
    white-space: nowrap; /* Impede a quebra de linha */
    text-decoration: none; /* Remove a linha de sublinhado */
    font-weight: bold;  /* Deixa o texto em negrito */


}

.number2{
    position: absolute;
    top: 51.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    overflow-x: visible; /* Garantir que o aumento de largura seja visível */
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #9b2f2f;
    letter-spacing: 2px;
    text-shadow: 
        -1px -1px 0 #ffffff,  /* Borda superior esquerda */
        1px -1px 0 #ffffff,   /* Borda superior direita */
        -1px 1px 0 #ffffff,   /* Borda inferior esquerda */
        1px 1px 0 #ffffff;    /* Borda inferior direita */
        white-space: nowrap; /* Impede a quebra de linha */
        text-decoration: none; /* Remove a linha de sublinhado */



}

.linha-vermelha {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    width: 350px;
    height: 60px;
    background-color: #9b2f2f;
    border-radius: 30px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    color: white;
    font-weight: bold;
}

.cnpj-label {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 18%;
    font-size: 18px;
    transform: translate(-50%, -50%);
}

.cnpj-value {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);

}

.copy-button {
    position: absolute;
    top: 60.5%;
    left: 80%;
    width: 15vw;  /* Aumentei a largura diretamente para 90% da viewport */
    height: auto;  /* Mantém a proporção original da imagem */
    object-fit: contain; /* Mantém a proporção sem deformar */
    transform: translate(-50%, -50%);
    z-index: 15;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #d3d3d3;
}



.linha-vermelha2{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    width: 350px;
    height: 100px;
    background-color: #9b2f2f;
    border-radius: 30px;
    margin: 100px auto;



}