<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao()">
  <img src="../../assets/img/pix.png" class="mapa1" >
  <img src="../../assets/img/63b44d87-9476-4bf9-8aba-6f8050cdd2b0.jpg" class="qrcode" >
  <img src="../../assets/img/copy.png" class="copy-button" (click)="copyCNPJ()">

  <h2 class="texto1">SE PREFERIR:</h2>
  <h1 class="texto2">NOSSA CHAVE</h1>
  <h1 class="texto3">J. DA SILVA BATISTA</h1>

  <div class="linha-vermelha">
    <span class="cnpj-label">CNPJ:</span>
    <span class="cnpj-value" id="cnpj-value">55.262.504/0001-71</span>
  </div>
</ion-content>
