<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao()">
  <img src="../../assets/img/mapa (1).png" class="mapa1" >
  <div class="map-container">
    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8167411538966!2d-51.06280540063909!3d0.05097745785709086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d61e12562076759%3A0x51768ae2669a7210!2sAv.%20Marc%C3%ADlio%20Dias%2C%201461%20-%20Juli%C3%A3o%20Ramos%2C%20Macap%C3%A1%20-%20AP%2C%2068908-124!5e0!3m2!1spt-BR!2sbr!4v1729076526723!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


<h1 class="text">
Av. Marcilio Dias <br> n° 1461 - Jesus de Nazaé

</h1>

<div class="linha-vermelha"></div>


</ion-content>
