<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao()">
  <img src="../../assets/img/whatsapp.png" class="mapa1" >
  <img src="../../assets/img/whatsapp (1).png" class="wpp1">
  <img src="../../assets/img/whatsapp (1).png" class="wpp2">

  
  <a class="number1" href="https://wa.me/559691164161" target="_blank">99136-1349</a>

  <a class="number2" href="https://wa.me/559691361349" target="_blank">99116-4161</a>





<div class="linha-vermelha"></div>

<div class="linha-vermelha2"></div>



</ion-content>
