<ion-content class="fundo"> 
  <img src="../../assets/img/galao.png" class="galao1"(click)="navigateToGarrafao1()" >
  <img src="../../assets/img/galao.png" class="galao"(click)="navigateToGarrafao()" >
  <img src="../../assets/img/garrafas350ml.png" class="garrafas350ml" (click)="navigateToGarrafas350ml()">
  <img src="../../assets/img/garrafas500ml.png" class="garrafas500ml " (click)="navigateToGarrafas1l()">
  <img src="../../assets/img/promocao.jpeg" class="promocao" (click)="navigateToGarrafasPromocao()" >
  <img src="../../assets/img/galao.png" class="galao2">
  <img src="../../assets/img/garrafas1l.png" class="garrafas1l">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/logo.png" class="logo">
  <img src="../../assets/img/BlueBox.png" class="BlueBox" (click)="navigateToGarrafasPromocao()">
  <img src="../../assets/img/background_gabriel.png" class="background_gabriel">
  <img src="../../assets/img/RedBox.png" class="RedBox">
  <img src="../../assets/img/BlueBox1.png" class="BlueBox1">
  <img src="../../assets/img/RedBox1.png" class="RedBox1">
  <img src="../../assets/img/teste.png" class="teste">
  <img src="../../assets/img/teste.png" class="teste1">






  <div class="promo">
    PROMOÇÕES
  </div>

  <div class="destauque">
    DESTAQUE
  
  </div>

  <div class="galaotext" >
    Garrafão 
</div>

<div class="galaotext1" >
  Recarga 
</div>

<div class="galaotext2" >
  Garrafas 350ml 
</div>

<div class="galaotext3" >
  Galões <br> Avariados
</div>

<div class="galaotext4" >
  Garrafas 500ml 
</div>

<div class="galaotext5" >
  Garrafas 1l 
</div>





  <div class="container">
    <div class="square1"  (click)="navigateToGarrafao()"></div>
    <div class="square2" (click)="navigateToGarrafao1()"></div>
    <div class="square3"  (click)="navigateToGarrafas350ml()"></div>
    <div class="square4" (click)="navigateToGarrafas500ml()" ></div>
    <div class="square5" (click)="navigateToGarrafas1l()"></div>
    <div class="square6" (click)="navigateToGarrafasavariadasl()"></div>
</div>




<div class="icons">
<img src="../../assets/img/whatsapp.png" class="whatsapp" (click)="navigateToGarrafaswpp()">
<img src="../../assets/img/carrinho-de-compras.png" class="carrinho-de-compras"(click)="navigateToGarrafascarrinho()" >
<img src="../../assets/img/cartao.png" class="cartao" (click)="navigateToGarrafascartao()">
<img src="../../assets/img/mapa (1).png" class="mapa" (click)="navigateToGarrafasMapa()" >


</div>


</ion-content>
