<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/galao.png" class="galao">
  <img src="../../assets/img/a.png" class="borda_dourada" >
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao()">
  <img src="../../assets/img/BlueBox.png" class="BlueBox">


<h1 class="garafao20"> Garrafão 20 lts  </h1>


<h1 class="preco"> 27.00$</h1>

<button class="add-to-cart-btn"  (click)="addToCart()">Adicionar ao Carrinho</button>


</ion-content>
