<ion-content class="fundo">
  <img src="../../assets/img/background_bluepink.png" class="background_bluepink">
  <img src="../../assets/img/garrafas500ml.png" class="galao">
  <img src="../../assets/img/a.png" class="borda_dourada" >
  <img src="../../assets/img/botao-voltar.png" class="botao-voltar" (click)="voltarToGarrafao500ml()">
  <img src="../../assets/img/BlueBox.png" class="BlueBox">


  <h1 class="garafao20"> Pacote Garrafas 5000ml </h1>

<p class="cgarrafaodescrition">Pacote com 6 unidades de água de 500ml cada.</p>


<h1 class="preco"> 11.00$</h1>

<button class="add-to-cart-btn" (click)="addToCart()" >Adicionar ao Carrinho</button>


</ion-content>
