.fundo {
  position: relative; /* Para permitir o posicionamento absoluto do img */
  overflow: hidden; /* Para ocultar qualquer parte da imagem que exceda o elemento */
  min-height: 130vh; /* Garante que o conteúdo ocupe toda a altura da tela */
}

.fundo img {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 100%; /* Aumente para mais de 100% para expandir a imagem */
  height: 250%; /* Ajuste também a altura */
  object-fit: cover;
  transform: translate(-50%, -50%);
}
